<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="0.5" package="com.github.sgdesmet.android.utils">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19"/>

    <application>
        <service android:name="com.github.sgdesmet.android.utils.service.RestService" android:label="iwish-service"/>
    </application>

    </manifest>